# GitHub Gist Id
GIST_ID=""
# GitHub Gist Token
GIST_TOKEN=""

# Admin Username
ACCESS_USERNAME="admin"
# Admin Password
ACCESS_PASSWORD="123456"
# 2FA Secret
ACCESS_2FA_SECRET="xxxx"

# JWT Secret
JWT_SECRET=""
# JWT Token Expiration Time
JWT_EXPIRES_IN="7d"

# Zero Omega Gist URL
ZERO_OMEGA_GIST_ID=""
# Zero Omega Gist Token
ZERO_OMEGA_GIST_TOKEN=""

# Vercel API Token
VERCEL_ACCESS_TOKEN=
# Exclude project links in the footer
VERCEL_PROJECT_EXCLUDES=
